#homeHouse {
  background-image: url("home\ page\ house.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

#login {
  text-align: center;
  background-color:rgb(229, 212, 244);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
  padding-left: 10px;
  
}

#logInBtn {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: lightgrey;
}

@media screen and (max-width: 500px) {
  nav>a {
    font-size: 3vh;
  }

  section> :nth-child(2) {
    align-self: center;
  }

  section> :nth-child(3) {
    display: none;
  }
}

#säljFormulär {
  text-align: center;
  background-color: rgb(164, 203, 218);
  padding: 3px;
}

#köpText {
    text-align: center;
}

header>.main-nav {
  background-color: rgba(190, 223, 162, 0.848);
  height: 3vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3vh;
}



#mäklare {
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}