@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');

* {
  box-sizing: border-box;
}

nav {
  width: 100vw;
  position: fixed;
  top: 0;
  padding: 1vh 0;
  background-color: rgba(187, 140, 140, 0.6);
  display: flex;
  justify-content: center;
}

nav>a {
  font-family: 'Hedvig Letters Serif', serif;
  margin: 0 5vw;
  font-size: 3vh;
  color: white;
  /* color: rgb(141, 93, 84); */
  text-decoration: none;
}
